numpy==1.22.3
tqdm==4.64.0
seaborn==0.11.2
matplotlib==3.5.1

python-docx
pyLDAvis
nlpaug
wordcloud

sentence-splitter
SentencePiece

xgboost
scikit-learn

torch
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/accelerate.git
git+https://github.com/UKPLab/sentence-transformers.git